@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@700;900&family=Source+Code+Pro:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #483434;
}

nav {
  background: url(../assets/homeImage/overhead-view-coffee-latte-with-lavender-flower-wooden-table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgba(172, 98, 15, 0.199);
  justify-content: space-between;
}

.nav-links {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  width: 500px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 0.625rem 1.25rem;
  font-size: 1.063rem;
  transition: border 0.1s step-end;
  cursor: pointer;
  text-decoration: none;
  color: #483434;
}

li:hover {
  border-bottom: 1px solid white;
}

.search {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 3.125rem;
}

.search-container {
  position: relative;
}

.search-bar {
  border: none;
  outline: none;
  height: 40px;
  width: 0;
  border-radius: 20px;
  transition: all 1s;
  font-size: 16px;
}

.search-bar:hover {
  width: 150px;
  border-radius: 20px 10px 10px 20px;
}

.search-bar:focus {
  width: 150px;
  border-radius: 20px 10px 10px 20px;
}

input {
  height: 50px;
  padding-left: 2.5rem;
  font-weight: bold;
}

.fa-magnifying-glass{
  position: absolute;
  color: black;
  padding: 0.75rem 0.75rem;
  border-radius: 20px;
  left: -2px;
  top: -2px;
  box-shadow: 5px;
  pointer-events: none;
}

.fa-cart-shopping-container {
  position: relative;
  width: 0;
  color: white;
}

.fa-cart-shopping-container a {
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-cart-shopping {
  cursor: pointer;
  color: white;
  font-size: 23px;
  margin-top: 20px;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 20px;
  right: -45px;
  background: red;
  cursor: pointer;
  color: white;
}

.fa-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  margin-right: 2.5rem;
  display: none;
  cursor: pointer;
}

.fa-xmark {
  position: absolute;
  right: 30px;
  top: 45px;
  font-size: 1.475rem;
  display: none;
  color: black;
  cursor: pointer;
}
