* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product{
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coffee {
  background: #b85c38;
  text-align: center;
  color: #fff3e4;
}



.slider {
  height: 60%;
  position: relative;
}

.paper-coffee {
  width: 60%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: grab;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-buttons{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.order-buttons button{
  width: 100%;
  padding: 10px 10px;
  height: 80%;
  font-size:15px;
  border-width:1px;
  color:#FFF3E4;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  text-shadow: 0px -1px 0px #5b6178;
  background:linear-gradient( #B85C38, #B85C38);
  cursor: pointer;
  border: none;
}


@media screen and (max-height:900px) {
  .pastries{
    width: 40%;
    object-fit: contain;
  }

  .paper-coffee{
    width: 55%;
    object-fit: cover;
  }
  
}

@media screen and (max-width:1050px) {
  .order-buttons button{
    width: 100%;
  }
}

@media screen and (max-width:800px) {
  .order-buttons button{
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .order-buttons button{
    width: 100%;
  }
}

@media screen and (max-width:350px) {
  .order-buttons button{
    width: 100%;
  }
}
