@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;700&family=Source+Code+Pro:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

body{
  background: #fff3e4;
}

section {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  font-size: 22px;
  background: #fff3e4;
  color: #483434;
}

.Contact1 {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #fff3e4;
}

.contact-left1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-left1 {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.bottom-left1 img {
  height: 100%;
  width: 100%;
  margin-top: 30px;
  object-fit: contain;
}

.contact-right1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form1 h2 {
  margin: 15px 0 10px 0;
  color: #483434;
}

.form1 {
  max-width: 500px;
  height: 60%;
  margin-left: 50px;
}

.name-fields1 {
  display: flex;
  width: 100%;
}

.name-fields1 input {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.email {
  margin-bottom: 10px;
}

.name1 {
  margin-right: 10px;
}

.subject1 {
  width: 100%;
  padding: 10px;
}
.subject-label {
  margin: 20px 0;
}
textarea {
  width: 100%;
  height: 20%;
  resize: none;
  padding: 10px 10px;
}

input,
textarea {
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.contact-button {
  margin-top: 20px;
  padding: 15px 20px;
  color: #fff3e4;
  border-radius: 6px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  text-shadow: 0px -1px 0px #5b6178;
  background: linear-gradient(#b85c38, #b85c38);
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 820px) {
  .contact-left1 {
    display: none;
  }

  .contact-right1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }

  .form1 {
    max-width: 400px;
    height: 60%;
    margin-left: 0;
  }

  .name-fields1,
  .subject1,
  textarea {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  section {
    text-align: center;
  }

  .contact-right1 {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
  }
}

.footer-lower1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: red;
}

.footer-lower1 p {
  font-size: 12px;
}

.icons1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons1 a {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 100px;
  cursor: pointer;
  text-decoration: none;
  color: #483434;
}

.ownership1 {
  text-align: center;
  margin-bottom: 60px;
  padding: 5px 5px;
  font-size: 13px;
}

@media screen and (max-width: 300px) {
  marquee {
    border: 1px solid black;
    margin: 0 50px;
    margin-top: 50px;
  }
}
