*{
    box-sizing: border-box;
    background: url(../assets/homeImage/overhead-view-coffee-latte-with-lavender-flower-wooden-table.jpg);
}



.contact{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 20px;
}

.info{
    padding: 2.5px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
}

.message{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    font-family: "Poppins";
    background-color: #f3f3f3;

}

h3{
    color: #ff7b00;
}

h3 span{
    color: #000000;
}

.submit-button{
    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    background-color: #ff7b00;
    color: #000000;
    cursor: pointer;
}